.article-img{
    height: 225px;
    width: 100%;
    display: block;
}

.article-title {
  display: block; /* or inline-block */
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 3.6em;
  line-height: 1.8em;
  min-height: 3.6em;
}


.banner-section{ background-size:cover; height: 380px; left: 0; position: absolute; top: 0; background-position:0;}
